{% extends "form_direct.html" %}
{% load i18n %} 

{%block add_state_iframe%}

<script type="text/javascript">
    function add_state_iframe() {
      var lang = $('input#lang').val();
      var fn = $('input#first_name').val();
      var ln = $('input#last_name').val();
      var sf = $('input#name_suffix').val();
      var zip = $('input#home_zip_code').val();
      var dob = $('input#date_of_birth').val();

      var iframe_url = 'https://servicearizona.com/webapp/evoter/selectLanguage';
      
      //too big to fit in iframe, big button instead
      //$('#content').append('<iframe src="'+iframe_url+'" width="600" height="725"></iframe>');
      $('#form-replacement').html('<div class="big-button register"><a class="button button-primary" tabindex="" href="'+iframe_url+'" target="_blank">{% trans "Submit my form online with the state" %}</a></div>');
    }
  </script>
{%endblock%}
 
{%block state_explanation%}
<div id="state" class="explanation" style="display:none; margin-top: 20px;">
<h1 class="hangontitle">{%blocktrans%}Hang on. You are eligible to register online in your state.{%endblocktrans%}</h1><br>
<p>{%blocktrans%}You can complete your voter registration online with the state right now - using the application provided by Secretary of State. {%endblocktrans%}</p>
<p>{%blocktrans%}If your driver's license or state identification card is invalid or the state can't find or confirm your DMV record - don't worry - you can also <a href='javascript:redirectToRegularForm()'> finish your registration with Rock the Vote</a>. You will just have to print, sign, and mail it in.{%endblocktrans%}</p>
</div>
{%endblock%}